# Logs
logs
*.log
npm-dubug.log*
yarn-debug.log*
yarn-error.log*

# Coverage Dir
coverage
*.lcov

# Dependencies
node_modules/

# npm Cache Dir
.npm

# Eslint Cache
.eslintcache

#dotenv Environment File
.env

# Lock Files
package-lock.json
yarn.lock

dist/